<!DOCTYPE html>
<meta charset="UTF-8">
<title>Signature List</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script>
	"use strict";
	var module = angular.module("Lister", []);
	module.controller("List", function($scope, $http) {
		$http.get("sigstore").success(function(data) {
			$scope.list = data;
		});
	});
</script>
<div ng-app="Lister" ng-controller="List">
	<a ng-repeat="item in list" href="fun.html?sigId={{item}}">{{item}}<br></a>
</div>
