canvas {
    background-color: white;
    border-radius: 6px;
}

#buttonDiv {
    background-color: lightgray;
    border-style: none; 
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden; /*Disable scrollbars*/
    background-color: lightgray;
}

#clear {
    background-color: white; /*For browsers that don't support gradients.*/
    background: -webkit-linear-gradient(white, rgb(216,216,216)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, rgb(216,216,216)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, rgb(216,216,216)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, rgb(216,216,216)); /* Standard syntax */
}

#submit {
    background-color: lime; /*For browsers that don't support gradients.*/
    background: -webkit-linear-gradient(lime, LimeGreen); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(lime, LimeGreen); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(lime, LimeGreen); /* For Firefox 3.6 to 15 */
	background: linear-gradient(lime, LimeGreen); /* Standard syntax */
}

#submit:disabled {
	background: -webkit-linear-gradient(LimeGreen, lime); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(LimeGreen, lime); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(LimeGreen, lime); /* For Firefox 3.6 to 15 */
	background: linear-gradient(LimeGreen, lime); /* Standard syntax */
	color:black;
}

#clear, #submit {
	position: absolute;
	border: 1px solid black;
	border-radius: 15px;
	font-size: 110%;
}

.portriatClear {
	top: 16%;
}

.portriatSubmit {
	bottom: 16%;
}

.portriatButton {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	
	left: -50%;
	height: 15%;
	width: 196%;
}

.landscapeClear {
    left: 5%;
}

.landscapeSubmit {
	right: 5%;
}

.landscapeButton {
    bottom: 0;
    height: 90%;
    width: 40%;
}
